name: Dynamic Folder Index CI

on:
  push:
    # Only trigger this on master branch
    branches: [ main, master ]
    
    paths:
    # Only trigger this on changes to .rdfe and .rdfx files within the "Dynamic Folder" folder
    - "Dynamic Folder/**.rdfe"
    - "Dynamic Folder/**.rdfx"

  # Allow us to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  update-index:
    runs-on: ubuntu-latest

    env:
      DOTNET_NOLOGO: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

    steps:
      - uses: actions/checkout@v6
      
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - name: Run Rebuild Index Tool
        run: dotnet run --project ./tools/ToolboxIndex -- "./Dynamic Folder" --generate-readme-files --extract-script-files
      
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "[ci] Dynamic Folder Index updated"
          title: "[ci] Dynamic Folder Index updated"
          body: "The Dynamic Folder Index was updated automatically by CI"
